body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Share Tech Mono';
    background-color: #232323;
  }

  .clock {
    font-size: 300px;
    padding: 20px;
    border-radius: 10px;
    color: rgba(10,175, 230,1);
    text-shadow: 0 0 20px rgba(10,175, 230,1), 0 0 20px rgba(10,175, 230,0) ;
  }